node_modules/
**/node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
!pnpm-lock.yaml
.turbo/
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/.idea/
apps/mobile/*.iml
apps/mobile/android/
apps/mobile/ios/
apps/mobile/.gradle/
apps/mobile/.kotlin/
apps/mobile/web-build/
apps/web/
apps/mobile/docs/
apps/mobile/modules/sykamore-ui/android/build/
apps/mobile/modules/sykamore-ui/ios/build/
coverage/
AGENTS.md
CLAUDE.md   
.cache/
.claude
opencode.json
GEMINI.md
*.tmp
*.temp
*.local
jest.config.js
.vscode
.idea/
*.swp
.DS_Store
packages/store/ARCHITECTURE.md
**/__tests__/
**/__tests__/**
**/*.{test,spec}.{js,jsx,ts,tsx}