node_modules/
.turbo/
.next/
dist/
build/
out/
apps/mobile/.expo/
apps/mobile/.local/
apps/mobile/ios/
apps/mobile/android/
apps/mobile/docs/
pnpm-lock.yaml
**/*.swift
**/*.kt
**/*.kts
**/android/**/build/
**/android/**/.gradle/
**/.gradle/
**/*.apk
**/*.aab
.github/*
