{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "overrides": [
    {"files": "*.md", "options": {"proseWrap": "always"}},
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {"singleQuote": false, "trailingComma": "none"}
    }
  ]
}
